<h1 class="text-center p-3">Public Recipes!</h1>

<div class="container list-group">
  <% @recipes.each do |recipe|%>
    <div class="list-group-item mb-2 d-flex border border-dark">
      <div class="col-2 fs-2">
        <h2><%= recipe.name %></h2>
        <h4>By:<%= recipe.user.name %></h4>
      </div>
      <div class="text-end col-sm-9">
        <h5>Total food items: <%=%></h5>
        <h5>Total price: $ <%=  %></h5>
      </div>
    </div>
  <%end%>
</div>


