<h1>Public Recipes!</h1>

<div>
  <%@recipes.each do |recipe|%>
    <div>
      <div>
        <h2><%= recipe.name %></h2>
        <h3>By <%= recipe.user.name %></h3>
      </div>
      
    </div>
  <%end%>
</div>