<h1 class="text-center p-3">Add Ingredient</h1>

<%= render "form", ingredient: @ingredient %>

<br>

<div>
  <%= link_to "Back to Recipes",  user_recipes_path, class: "text-decoration-none" %>
</div>

